@tailwind base;

@tailwind components;

@tailwind utilities;


/* Custom CSS */
.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    /* Hide scrollbar on Safari and Chrome */
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Hide scrollbar on Firefox */
}

.hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Hide scrollbar track on Safari and Chrome */
}